@mixin section_title {
    font-size: 40px;
    color:$title_color;
    font-weight: bold;
    text-align: center;
}

@import "./section_1";
@import "./section_2";
@import "./section_3";
@import "./section_4";

