@mixin section_title {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

$home_card_width:350px;

@import "./section_1";
@import "./section_2";
@import "./section_3";
@import "./section_4";

