$home_s2_title:#4F4F4F;
$home_s2_card_title:#565656;
$home_s2_card_para:#565656;

.home_s2{
    padding:$side_padding;
    padding-top: 80px;
    @include flex_column;
}

.home_s2_title{
    @include section_title;
    color:$home_s2_title;
}

.home_s2_card_container{
    padding-top: 80px;
    @include between;
}

// ALL SECTION CARD WIDTH MUST BE THE SAME
.home_s2_card{
    border:2px solid white;
    width:$home_card_width;
    @include v_center;
    flex-direction: column;
    img{
        width: 250px;
        height: 250px;
    }
    div{
        @include flex_column;
        justify-content: space-between;
        height:200px;
        p{
            &:nth-child(1){
                padding-top:32px;
                font-size: 30px;
                font-weight: bold;
                text-align: center;
                border:2px solid white;
                color:$home_s2_card_title;
            }
            &:nth-child(2){
                line-height: 24px;
                padding-top:20px;
                text-align: center;
                color:$home_s2_card_para;
            }
        }    
    }
}


@media screen and (max-width:$responsive_max_width){
    .home_s2{
        height: auto;
        padding:$side_padding_r;
        padding-top:50px;
    }
    .home_s2_card_container{
        flex-direction: column;
        align-items: center;
    }
    .home_s2_card{
        width:100%;
        margin-bottom: 50px;
        img{
            width: 150px;
            height: 150px;
        }
    }

}

