$home_s1_btn:#006072;

.home_s1{
    width: 100%;
    height: 930px;
    position: relative;
    padding:$side_padding;
}

.home_s1_bg{
    width:100%;
    height:930px;
    position: absolute;
    left:0;
    z-index: -1;
}

.home_s1_intro_card{
    padding-top: 318px;// BECAUSE NAVBAR ON POSITION_FIXED
    p{
        color:white;
        padding: 6px 0;
        font-size: 40px;
    }
    ul{
        list-style: none;
        li{
            color:white;
            padding: 6px 0;    
            i{
                margin-right: 12px;
            }
        }
    }
}

.home_s1_main_btn{
    width:225px;
    height: 54px;
    @include center;
    margin:0 auto;
    background-color: $home_s1_btn;
    color:white;
    border:0.5px solid whitesmoke;
    border-radius: 54px;
    transition: all 0.3s;
    &:hover{
        color: $home_s1_btn;
        background-color: whitesmoke;
    }
}

.home_s1_card_container{
    margin-top: 158.99px;
    & > img{// FOR CURVY ARROWS...
        margin-top: 21px;
        width:85px;
        height: 23px;
    }
}

.home_s1_card{
    width:178px;
    height: 119.01px;
    img{
        width:51px;
        height: 55px;            
    }
    p{
        padding-top: 30px;
        color:white;
    }
}


.home_s1_down_btn{
    margin:0 auto;
    margin-top: 42px;
    overflow: hidden;
    background-color: transparent;
    border:0;
}

@media screen and (max-width:$responsive_max_width){
    .home_s1{
        height: auto;
        padding :$side_padding_r;
    }
    .home_s1_bg{
        height: 100%;
        object-fit: cover;
    }
    .home_s1_intro_card{
        width:100%;
        padding:0;
        padding-top:$navbar_height + 50px;
        p{
            text-align: center;
        }
        ul li{
            font-size: 14px;
            text-align: center;
        }
    }
    .home_s1_main_btn{
        margin: 50px auto;
    }
    .home_s1_card_container{
        margin-top: 20px;
        flex-wrap: wrap;
        & > img{// FOR CURVY ARROW...
            display: none;
        }
    }
    .home_s1_card{
        width:150px;
        height:130px;
        margin:10px 0px;
        p{
            font-size: 14px;
            text-align: center;
        }
    }
    .home_s1_down_btn{
        margin:20px;
    }
}
