$home_s2_card_title:#565656;
$home_s2_card_para:#565656;

.home_s2{
    padding:$side_padding;
    padding-top: 79px;
}

.home_s2_card_container{
    padding-top: 82.5px;
}

// ALL SECTION CARD WIDTH MUST BE THE SAME
.home_s2_card{
    width:$home_card_width;
    div:nth-child(1){//FOR BIG IMAGES...
        overflow: hidden;
        img{
            object-fit: contain;
            transition: all 0.3s;
            &:hover{
                transform: scale(1.1);
            }
        }
    }
    div:nth-child(2){
        border:0.5px solid transparent;
        @include flex_column;
        justify-content: space-between;
        p{
            &:nth-child(1){
                padding-top:32.5px;
                font-size: 30px;
                font-weight: bold;
                text-align: center;
                border:2px solid white;
                color:$home_s2_card_title;
            }
            &:nth-child(2){
                line-height: 24px;
                padding-top:20px;
                text-align: center;
                color:$home_s2_card_para;
            }
        }    
    }
}


@media screen and (max-width:$responsive_max_width){
    .home_s2{
        height: auto;
        padding:$side_padding_r;
        padding-top:50px;
    }
    .home_s2_card_container{
        flex-direction: column;
        align-items: center;
    }
    .home_s2_card{
        width:100%;
        margin-bottom: 50px;
        @include flex_column;
        align-items: center;
        div{
            &:first-child{
                width: 260px;
                height: 260px;
            }
            &:nth-child(2){
                height: auto;
            }
        }
    }
}

