$footer_text:#A2A6A8;
$admin_panel_bg:#f2f4f5;

.admin_panel{
    display: flex;
    background-color:$admin_panel_bg;
    height: auto;
}

.admin_left{
    width:272px;
    height:100%;
}

.admin_right{
    width:calc(100% - 272px);
    height: 100%;
    padding:0 20px;
    footer{
        padding:22px 0px;
        p{
            color:$footer_text;
        }
    }
}