@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    width:100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    position: relative;
    scroll-behavior: smooth;
}

a{
    text-decoration: none !important;
}

input, textarea, select, button{
    outline: none;
    box-shadow: none;
}

.d_none{
    display: none !important;
}

@import "./navbar";
@import "./accordion";
@import "./sidenav";
@import "./display_flex";
@import "./admin_panel";
@import "./user_management";
@import "./service_requests";

// -----------RESPONSIVE_CSS--------------
@import "./responsive/admin_panel";
@import "./responsive/navbar";