@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url(//db.onlinewebfonts.com/c/80aced0dbab505bad4295765ce0158d6?family=Switzerland);
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-x: hidden;
  position: relative;
  scroll-behavior: smooth;
}

a {
  text-decoration: none !important;
}

input, textarea, select, button {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.d_none {
  display: none !important;
}

.navbar {
  width: 100%;
  height: 60px;
  background-color: #1FB6FF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 18px;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 11px;
}

.logo p {
  font-size: 38px;
  color: white;
  font-family: 'SwitzeraADF-Bold', sans-serif;
}

.nav_menu {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav_menu p, .nav_menu img, .nav_menu button {
  margin: 0 5px;
}

.nav_menu p {
  color: white;
}

.nav_menu button {
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: transparent;
  border: 0;
}

.nav_menu button img {
  -o-object-fit: contain;
     object-fit: contain;
}

.navbar_toggle_btn {
  width: 60px;
  height: 60px;
  background-color: transparent;
  border: 0;
  color: white;
  display: none;
  position: absolute;
  right: 0px;
  top: 0px;
  background-color: transparent;
}

.navbar_toggle_btn i {
  font-size: 24px;
}

.accordion_btn {
  width: 100%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 13px;
  border: 0;
  border-bottom: 1px solid #E5E5E5;
  background-color: transparent;
  color: #646464;
  cursor: pointer;
  font-size: 16px;
}

.accordion_btn i {
  margin-right: 15px;
}

.accordion_btn:hover {
  background-color: whitesmoke;
}

.accordion_content {
  background-color: #F9F9F9;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.accordion_content a {
  width: 100%;
  padding-left: 34px !important;
  font-size: 14px;
}

.admin_sidenav {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  -webkit-box-shadow: 2px 0px 6px #0000001A;
          box-shadow: 2px 0px 6px #0000001A;
}

.admin_sidenav a {
  width: 100%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 13px;
  color: #646464;
  border-bottom: 1px solid #E5E5E5;
}

.admin_sidenav a:hover {
  background-color: whitesmoke;
}

.admin_sidenav_active_tab {
  color: #1FB6FF;
}

.admin_panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f2f4f5;
  height: 100%;
}

.admin_left {
  width: 272px;
  height: auto;
}

.admin_right {
  width: calc(100% - 272px);
  height: 100%;
  padding: 0 20px;
}

.admin_right footer {
  padding: 22px 0px;
}

.admin_right footer p {
  color: #A2A6A8;
}

.user_management_search_button {
  background-color: #1FB6FF;
  color: white !important;
}

.user_management {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.user_management div:first-child {
  padding-top: 24px;
  padding-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.user_management div:first-child p {
  font-size: 22px;
  font-weight: bold;
  color: #646464;
}

.user_management div:first-child button {
  width: 132px;
  height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 0;
  border-radius: 4px;
  background-color: #1FB6FF;
  color: white;
  font-size: 14px;
}

.user_management div:first-child button img {
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: 7px;
}

.user_management div:last-child {
  padding: 20px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
}

.user_management div:last-child input, .user_management div:last-child select, .user_management div:last-child button {
  height: 46px;
  border: 1px solid #DEDDDD;
  border-radius: 4px;
  margin-right: 15px;
  padding: 0 10px;
  color: #A0A0A0;
}

.user_management div:last-child select {
  width: 215px;
}

.user_management div:last-child input {
  width: 140px;
}

.user_management div:last-child button {
  width: 84px;
}

.user_management div:last-child div {
  width: 219px;
  border: 1px solid #DEDDDD;
  border-radius: 4px;
  margin-right: 15px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user_management div:last-child div label {
  width: 46px;
  height: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: lightgray;
  color: #646464;
}

.user_management div:last-child div input {
  border: 0;
  margin: 0;
  border-radius: 0;
}

.active_status {
  width: 58px;
  height: 24px;
  padding: 5px 11px;
  background-color: #67B644;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white !important;
}

.inactive_status {
  width: 62px;
  height: 24px;
  padding: 5px 11px;
  background-color: #FF6B6B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white !important;
}

.user_management_table {
  margin-top: 20px;
  width: 100%;
  border: 1px solid #E1E1E1;
}

.user_management_table th {
  background-color: #f9f9f9;
}

.user_management_table th, .user_management_table td, .user_management_table p {
  text-align: left;
  padding: 20px 15px;
  color: #646464;
}

.user_management_table td {
  background-color: white;
}

.user_management_table td button {
  width: 36px;
  height: 36px;
  border: 0;
  border-radius: 50%;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.user_management_table td button:hover {
  background-color: lightgray;
}

@media screen and (max-width: 1200px) {
  .admin_right {
    width: 100%;
    overflow: auto;
    padding: 0;
  }
  .user_management,
  .user_management_table {
    min-width: 1000px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .admin_left {
    display: none;
  }
}

@media screen and (max-width: 1200px) {
  .nav_menu {
    display: none;
    border: 2px solid green;
  }
  .navbar_toggle_btn {
    display: block !important;
  }
  .responsive_sidenav_menu {
    width: 250px;
    height: auto;
    position: absolute;
    top: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: white;
    overflow-y: auto !important;
  }
  .responsive_sidenav_menu div:first-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: lightgray;
    height: 60px;
    padding: 8px 15px;
  }
  .responsive_sidenav_menu div:first-child p, .responsive_sidenav_menu div:first-child button {
    text-align: left;
    background-color: transparent;
    border: 0;
  }
}
/*# sourceMappingURL=index.css.map */