.change_password{
    padding:20px 0;
    div{
        width:280px;
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
        label{
            color:$profile_text;
            padding-bottom: 6px;
            font-weight: 500;
        }
        input{
            color:$profile_text;
            padding-left: 15px;
            height: 40px;
            border:1px solid $profile_input_border;
            border-radius: 4px;
        }
    }
    button{
        width:100px;
        height: 40px;
        background-color: $active_profile_tab;
        color:white;
        border:0;
        border-radius: 40px;
        font-weight: 500;
    }
}