.my_details{
    padding:20px 0;
    width:100%;
    height:100%;
    display: flex;
    flex-direction: column;
}

.my_details_inner_div_1{
    padding-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    & > div{// ALL 5 DIV...
        display: flex;
        flex-direction: column;
        label{
            padding-bottom: 10px;
            color:$profile_text;
            font-weight: 500;
        }
        input,select{
            width:100%;
            height: 40px;
            padding-left: 10px;
            border:1px solid $profile_input_border;
            border-radius: 4px;
            color:$profile_text;
        }
        .phone_number{
            height: 40px;
            label{
                padding-bottom: 0;
                font-weight: normal;
            }
        }
        &:last-of-type{
            div{
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-column-gap: 10px;
            }
        }
    }
}

.my_details_inner_div_2{
    padding-top: 30px;
    border-top: 1px solid $profile_input_border;
    div{
        display: flex;
        flex-direction: column;
        label{
            color:$profile_text;
            font-weight: 500;
            padding-bottom: 10px;
        }
        select{
            width:150px;
            height:40px;
            border:1px solid $profile_input_border;
            color:$profile_text;
            border-radius: 4px;
        }
    }
    button{
        margin-top: 15px;
        height: 40px;
        font-weight: 500;
        color:white;
        background-color: $active_profile_tab;
        border:0;
        padding:0 20px;
        border-radius: 40px;
    }
}