$guarantee_s2_bg:#eef8fa;
$guarantee_s2_para:#565656;

.guarantee_s2{
    width:100%;
    padding:100px 0;
    background-color: $guarantee_s2_bg;
}

.guarantee_s2_para{
    font-size: 18px;
    line-height: 30px;
    color:$guarantee_s2_para;
    padding:40px 0;
    width:600px;
    margin:0 auto;
    text-align: center;
}    
