$about_text:#646464;

.about_s1,
.about_s2{
    padding:$side_padding;
}

.about_s2{
    padding-top:40px;
    padding-bottom:$last_section_bottom_padding;
}

.about_s1,
.about_s2{
    div:last-child{
        padding-top: 35px;
        p{
            color:$about_text;
            line-height: 24px;
            padding-bottom: 50px;
            text-align: center;
        }
    }
}

@media screen and (max-width:$responsive_max_width) {
    .about_s1,
    .about_s2{
        padding:$side_padding_r;
    }
    .about_s2{
        padding-bottom:0px;
    }
}

