@media screen and (max-width:1200px) {
    .admin_right{
        width:100%;
        overflow: auto;
        padding:0;
    }
    .user_management,
    .user_management_table{
        min-width: 1000px;
        padding-left: 20px;
        padding-right:20px;
    }
    .admin_left{
        display: none;
    }
}