$navbar_bg:#1FB6FF;

.admin_navbar{
    width:100%;
    height: 60px;  
    background-color: $navbar_bg;
    display: flex;
    justify-content: space-between;
    padding:0 18px;
}

.admin_logo{
    display: flex;
    align-items: center;
    justify-content:center;
    padding-left: 11px;
    p{
        font-size: 38px;
        color:white;
        font-family:sans-serif;
    }
}

.admin_nav_menu{
    width:auto;
    display: flex;
    align-items: center;
    p, img, button{
        margin:0 5px;
    }
    p{
        color:white;
    }
    button{
        padding:5px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        border:0;
        img{
            object-fit: contain;
        }
    }
}


@media screen and (max-width:1200px) {
    .admin_nav_menu{
        display: none;
    }
}