.map{
    padding-top: 80px;
    img{
        width:100%;
        height: 100%;
    }
    padding-bottom:$last_section_bottom_padding;
}

@media screen and (max-width:$responsive_max_width) {
    .map{
        img{
            height: 200px;
            object-fit: cover;
        }
        padding-bottom:50px;
    }
}