.nav-tabs{
    display: flex;
    flex-direction:column;
}

.tab-indicator{
    display: flex;
}

.nav-tab{
    width:100%;
    padding:10px 0;
    font-size: 18px;
}

.tab-body{
    overflow: hidden;
}

.d-none{
    display: none;
}

.nav-tab-content{
    width:100%;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;    
    p{
        width:100%;
        padding:10px 0;
        line-height: 38px;
    }
    &:nth-child(1){
        p{
            background-color: red;
        }
    }
    &:nth-child(2){
        p{
            background-color: gray;
        }
    }
    &:nth-child(3){
        p{
            background-color: green;
        }
    }
    &:nth-child(4){
        p{
            background-color: blue;
        }
    }
}

.active-nav-tab-content{
    opacity: 1;
}