@import "./become_a_pro/index";
@import "./upcoming_service/index";

$service_provider_left:#1D7A8C;
$service_provider_left_hover:#146371;

.service_provider{
    padding-top: 64px;
    padding-bottom: $last_section_bottom_padding;
}

.service_provider_container{
    padding-top: 30px;
    width:1140px;
    margin:0 auto;
    display: flex;
}

.service_provider_left{
    width:261px;
    margin-right: 31px;
    background-color:$service_provider_left;
    display: flex;
    flex-direction: column;
    a{
        width:100%;
        height:55px;
        padding-left: 15px;
        display: flex;
        align-items: center;
        color:white;
        font-size: 18px;
        &:hover{
            background-color: $service_provider_left_hover;
        }
    }
}

.service_provider_right{
    width:calc(100% - 261px);
}

