$registration_title:#4F4F4F;
$registration_input:#A0A0A0;
$registration_input_border:#C8C8C8;
$registration_submit:#1D7A8C;
$registration_shadow:#00000026;
$registration_select:#F4F4F4;
$registration_term:#1FB6FF;

.become_a_pro_s1{
    height: 930px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.become_a_pro_s1_bg{
    width:100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    z-index: -1;
}

.registration_form{
    margin-top: 152px;
    background-color: #FFFFFF;
    width:430px;
    height:664px;
    padding:19px 35px;
    box-shadow: 0 0 16px $registration_shadow;
    border-radius: 4px;
    & > p{
        color:$registration_title;
        font-size: 24px;
        text-align: center;
        margin:0;
        padding-bottom: 24px;
        font-weight: bold;
    }
}

.registration_form > form{
    display: flex;
    flex-direction: column;
    align-items: center;    
    input[type="text"], input[type="password"]{
        color:$registration_input;
        width:100%;
        height: 46px;
        margin-bottom: 15px;
        padding-left: 15px;
        border:1px solid $registration_input_border;
        border-radius: 4px;
    }
    button{
        background-color: $registration_submit;
        color:white;
        font-weight: bold;
        width:166px;
        height: 46px;
        border-radius: 40px;
        border:0;
        img{
            margin-left: 8px;
        }
    }
    div{
        width:100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 11px;
        label{
            width:46px;
            height: 46px;
            background-color: #F4F4F4;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        p{
            color:$registration_title;
        }
        a{
            color:$registration_term;
        }
        input[type="checkbox"]{
            width: 16px;
            height: 16px;
            border:2px solid yellow;
            margin-right: 7px;
        }
        &:last-of-type{
            width:302px;
            height: 76px;
            padding:0 15px;
            background-color: #f9f9f9;
            border:1px solid lightgray;
            border-radius: 4px;
        }
    }
}