$registration_title:#4F4F4F;
$registration_shadow:#00000026;
$registration_select:#F4F4F4;
$registration_term:#1FB6FF;

.become_a_pro_s1{
    height: 930px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.become_a_pro_s1_bg{
    width:100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    z-index: -1;
}

.registration_form{
    margin-top: 152px;
    background-color: #FFFFFF;
    width:430px;
    height:664px;
    padding:19px 35px;
    box-shadow: 0 0 16px $registration_shadow;
    border-radius: 4px;
    & > p{
        color:$registration_title;
        font-size: 24px;
        text-align: center;
        margin:0;
        padding-bottom: 24px;
        font-weight: bold;
    }
}

.registration_form > form{
    display: flex;
    flex-direction: column;
    align-items: center;    
    input[type="text"], input[type="password"]{
        margin-bottom: 15px;
    }
    button{
        margin-top: 40px;
        width:166px;
        font-size:14px;
        img{
            margin-left: 8px;
        }
    }
    div{
        width:100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 11px;
        label{
<<<<<<< HEAD
            height: 46px;
=======
            width:46px;
            height: 46px;
            background-color: #F4F4F4;
            display: flex;
            align-items: center;
            justify-content: center;
>>>>>>> 27cceb6b11d5659c99706de46b19adef59100699
        }
        p{
            color:$registration_title;
            width:calc(100% - 16px);
        }
        a{
            color:$registration_term;
        }
        input[type="checkbox"]{
            width: 16px;
            height: 16px;
            border:2px solid yellow;
            margin-right: 7px;
        }
    }
}