@media screen and (max-width:1280px){
    .book_service{
        padding-left:20px;
        padding-right:20px;
    }
    .book_service_right{
        position: absolute;
        display: none;//VISIBLE SOON...
    }
}

@media screen and (max-width:992px) {
    .book_service_tabs{
        width:100%;
        & > div:first-child{
            & > button{
                width:100%;
            }
        }
    }
    .schedule_plan{
        & > div:nth-child(3){// EXTRA SERVICES DIV...
            & > div{
                & > div{// CONTAINER OF ALL EXTRA SERVICES...
                    width:150px;
                }
            }
        }
    }
}

@media screen and (max-width:768px) {
    .book_service_tabs{
        & > div:first-of-type{// TAB BUTTONS
            button{
                position: relative;
                p{
                    display: none;
                }
                div{// IMAGE MOVER DIV[top <-> bottom]...
                    position: absolute;
                    left:50%;
                    transform: translateX(-50%);
                }
            }
        }
    }
    .schedule_plan{
        & > div:nth-child(2){// SELECT DATE AND TIME DIV...
            flex-direction: column;
            & > div:nth-child(1){
                padding-bottom: 20px;
            }
        }
        & > div:nth-child(3){// EXTRA SERVICES DIV...
            & > div{
                justify-content:center;
                flex-wrap: wrap;
            }
        }
    }
}

@media screen and (max-width:576px) {
    .setup_service{
        flex-direction: column;
        align-items: flex-start;
        div{
            padding-bottom: 20px;
        }
    }
    // ----------------ID WILL BE USED HERE...---------------------
    #address_form{
        display: flex;
        flex-direction: column;
    }
    .your_details{
        & > div:nth-child(2){
            & > div{// FOR WRAPING A SERVICE PROVIDER...
                flex-wrap: wrap;
                & > div{
                    margin-bottom: 15px;
                }
            }
        }
    }
}