@media screen and (max-width:1200px) {
    .customer_left{
        display: none;
        border:2px solid black;
    }    
    .customer{
        padding-left: 20px;
        padding-right:20px;
    }
    .customer_container{
        width:100%;
        overflow-x:auto;
    }
    .customer_right{
        min-width: 1000px;
        width:100%;
    }
}

@media screen and (max-width:992px) {
    .customer{
        padding-bottom: 50px;
    }
}