$prices_s1_card_bg:#1D7A8C;
$prices_s1_card_text:#646464;
$prices_s1_card_border:#B0C9CE;
$prices_s1_extra_servies_light:#646464;
$prices_s1_extra_servies_bold:#1D7A8C;
$prices_s1_extra_servies_border:#B0C9CE;

.prices_s1{
    padding:$side_padding;
    padding-top: 30px;
}

.prices_div{
    @include flex_column;
    align-items: center;
}

.prices_card{
    margin-top: 42px;
    width:552px;
    height: 304px;
    border:1px solid $prices_s1_card_border;
    & > p{
        height: 59px;
        line-height: 59px;
        text-align: center;                
        background-color: $prices_s1_card_bg;
        color:white;
        font-size: 28px;
        font-weight: bold;
    }
    & > div{
        &:nth-child(2){
            padding-top: 30px;
            p{
                text-align: center;
                font-size: 48px;
                color:$prices_s1_card_text;
            }
            span{
                font-size: 30px;
                color:$prices_s1_card_text;
            }
        }
        &:nth-child(3){
            div{
                padding-top: 19px;
                padding-left: 151px;
                @include v_center;
                img{
                    width:24px;
                    height: 24px;
                }
                p{
                    padding-left: 8px;
                    color:$prices_s1_card_text;
                }
            }
        }
    }
}


.extra_servies{
    padding-top: 92px;
}

.extra_servies_card_container{
    padding-top: 39px;
    @include center;
}

.extra_servies_card{
    div{
        margin:0 54px;
        width:108px;
        height: 108px;
        border:0.5px solid $prices_s1_extra_servies_border;
        border-radius: 50%;
        @include center;
    }
    p{
        margin-top: 14px;
        text-align: center;
        &:nth-child(2){
            color:$prices_s1_extra_servies_light;
        }
        &:nth-child(3){
            margin-top:5px;
            font-size: 18px;
            font-weight: bold;
            color:$prices_s1_extra_servies_bold;
        }
    }
}

@media screen and (max-width:$responsive_max_width) {
    .prices_s1{
        padding:$side_padding_r;
    }
    .prices_card{
        width:100%;
        & > div{
            &:nth-child(3){
                div{
                    padding-left: 50px;
                }
            }
        }
    }    
    .extra_servies{
        padding-top: 50px;
        flex-direction: column;
    }
    .extra_servies_card_container{
        flex-wrap: wrap;
    }
    .extra_servies_card{
        margin:14px 0;
        width:150px;
        @include flex_column;
        align-items: center;
    }
}
