$get_in_touch_border:#C8C8C8;
$get_in_touch_title:#4F4F4F;
$input_text:#A0A0A0;
$get_in_touch_btn:#1D7A8C;


.get_in_touch{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.get_in_touch_title{
    color:$get_in_touch_title;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
}

.get_in_touch{
    form{
        padding-top: 22px;
        display: flex;
        flex-direction: column;
        align-items: center;
        & > div{
            width:100%;
            display: grid;
            grid-template-columns: 300px 300px;
            grid-column-gap:14px;
            padding-bottom: 15px;
            overflow: hidden;
            select, textarea{
                width:614px;
            }
            textarea{
                height:146px;
            }
        }
        button{
            width:162px;
            height: 46px;
            background-color: $get_in_touch_btn;
            font-size: 20px;
            font-weight: bold;
            color:white;
            border:0;
            border-radius: 23px;                
        }
    }
}