$get_in_touch_title:#4F4F4F;

.get_in_touch{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.get_in_touch_title{
    color:$get_in_touch_title;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
}

.get_in_touch{
    form{
        padding-top: 22px;
        display: flex;
        flex-direction: column;
        align-items: center;
        & > div{
            width:614px;
            display: grid;
            grid-template-columns: 300px 300px;
            grid-column-gap:14px;
            padding-bottom: 15px;
            overflow: hidden;
            select, textarea{
                width:614px;
            }
            textarea{
                height:146px;
            }
            &:nth-child(5){
                // ATTACHMENT...
                display: flex;
                flex-direction: column;
                & > div{
                    width:100px;
                    padding:8px;
                    text-align: center;
                    border:0.5px solid lightgray;
                    border-radius: 40px;
                    color:#646464;
                    input{
                        display: none;
                    }
                }
            }
            &:nth-child(6){
                // TICK CHECKBOX...
                display: flex;
                align-items: flex-start;
                p{
                    margin-top: -3px;
                    color: #646464;;
                    font-size: 14px;
                    line-height: 20px;
                    a{
                        color:$form_btn;
                    }
                }
            }
        }
        button{
            width:162px;
        }
    }
}