$faq_intro:#646464;
$faq_btn:#1D7A8C;
$faq_line_bold:#646464;
$faq_para_light:#646464;

.user_faq{
    padding-top: 35px;
    padding-bottom: $last_section_bottom_padding;
}

.faq_intro{
    padding-top: 34px;
    @include h_center;
    p{
        width: 498px;
        text-align:center;
        color:$faq_intro;
        font-size: 18px;
        line-height: 26px;
    }
}

.faq_switch{
    @include h_center;
    button{
        width:472px;
        height: 66px;
        font-size: 24px;
        border:0;
        border-bottom: 3px solid $faq_btn;
    }
}

.active_tab{
    background-color: $faq_btn;
    color:white;
}

.questions{
    @include flex_column;
    align-items: center;
}

.question{
    padding-top: 37px;
    width:931px;    
    button{
        @include center;
        background-color: transparent;
        border:0;
        p{
            margin:0;
            padding-left:15px;
            font-weight: bold;
            color:$faq_line_bold;
            font-size: 16px;
        }
    }
}

.answer{
    padding-top:10px;
    padding-left:36px;
    line-height: 24px;
    color:$faq_para_light;
    transition: all 1s;
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
}
  
/* Go from zero to full opacity */
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@media screen and (max-width:$responsive_max_width) {
    .faq{
        padding:$side_padding_r;
    }
    .faq_switch{
        button{
            width:200px;
            font-size: 16px;
        }
    }
    .question{
        width:100%;
        button{
            p{
                text-align: left;
            }
        }
        & > p{
            padding-left:0;
            font-size: 14px;
        }
    }
    .user_faq{
        padding-bottom:50px;
    }
}
