.user_faq{
    padding-top: 35px;
    padding-bottom: $last_section_bottom_padding;
}

.faq_intro{
    padding-top: 34px;
    @include h_center;
    p{
        width: 498px;
        text-align:center;
        color:$paragraph_color;
        font-size: 18px;
        line-height: 26px;
    }
}

.faq_switch{
    @include h_center;
    button{
        width:472px;
        height: 66px;
        font-size: 24px;
        border:0;
        border-bottom: 3px solid #1D7A8C;
        &:first-of-type{
            background-color: #1D7A8C;
            color:white;
        }
    }
}

.reviews{
    @include flex_column;
    align-items: center;
}

.review{
    padding-top: 37px;
    width:931px;    
    button{
        @include center;
        background-color: transparent;
        border:0;
        // i{
        //     font-size: 22px;
        //     color:#646464;
        //     opacity:0.8;
        // }
        p{
            margin:0;
            padding-left:15px;
            font-weight: bold;
            color:#646464;
            font-size: 16px;
        }
    }
    & > p{
        padding-top:10px;
        padding-left:36px;
        line-height: 24px;
        color:#646464;
    }
}

@media screen and (max-width:550px) {
    .faq{
        padding:$side_padding_r;
    }
    .faq_switch{
        button{
            width:200px;
            font-size: 16px;
        }
    }
    .review{
        width:100%;
        button{
            p{
                text-align: left;
            }
        }
        & > p{
            padding-left:0;
            font-size: 14px;
        }
    }
    .user_faq{
        padding-bottom:50px;
    }
}
