@media screen and (max-width:550px) {
    .navbar{
        flex-direction: column;
        align-items: center;
        height: auto;
    }
    .nav_menu{
        padding:20px 0;
        flex-direction: column;
        // flex-wrap: wrap;
        a{
            margin: 7px 10px;
        }
    }
}
