// ---------------SECTION_TITLE_COLORS------------------
$title_with_icon:#4F4F4F;
$title_with_icon_border:#CCCCCC;
$welcome_message_bg:#F9F9F9;
$welcome_message_text:#4F4F4F;
$welcome_message_border:#E1E1E1;

.welcome_message{
    font-size: 30px;
    height:119px;
    background-color: $welcome_message_bg;
    border-bottom:1px solid $welcome_message_border;
    display: flex;
    align-items: center;
    justify-content: center;
    p{
        font-size: 30px;
        color:$welcome_message_text;
        span{
            font-weight: bold;
        }
    }
}

.circle{
    border-radius: 50%;
}

.d_none{
    display: none !important;
}

.banner{
    margin-top:$navbar_height;
    width:100%;
    overflow: hidden;
    img{
        width: 100%;
        height: 370px;
    }
}

@media screen and (max-width:992px) {
    .banner{
        img{
            height:200px;
            object-fit: cover;
        }
    }
}



.title_with_icon{
    /* 
        width of border of one side = 62px;
        margin between icon and border = 9px;
        width of icon = 24px
        width of div = 62*2 + 9*2 + 24 = 166px

        font height = 43, 
        margin between icon and font = 9, 
        icon height = 24 // icon i half cover in div... so that we take 12px
        height = 43 + 9 + 12px = 64px
    */
    width:100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    p{        
        width:100%;
        text-align: center;
        color:$title_with_icon;
        font-weight: bold;
        font-size: 35px;
        margin:0 0 9px;
    }
    & > div{
        margin-top: -12px;
        width:166px;
        height: 24px;
        border-bottom:1px solid $title_with_icon_border;
        background-color: white;
        position: relative;
        & > div{
            width:24px + 18px;
            height:24px;
            position: absolute;
            left:50%;
            transform: translateX(-50%);
            bottom:-12.5px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: white;
            img{
                width:24px;
                height:24px;
                object-fit: cover;
            }    
        }
    }
}
