// ---------------FOOTER_COLORS------------------
$footer_bg:#111111;
$footer_orange:#FF7B6D;
$footer_up_btn:#525252;
$footer_form_title:#353548;
$footer_form_border:#565656;
$footer_copyright_text:#9BA0A3;
$footer_links_color:#F1F1F1;

$cookie_bg:#292929;
$cookie_btn:#EED507;
$privacy_policy_text:#6EABEF;

footer{
    width:100%;
    height: $footer_height;
    position: absolute;
    bottom:0;
    @include between;
    flex-direction: column
}

.footer_transparent_div{
    @include center;
    padding:50px 100px;
}

.go_top_btn{
    width:48px;
    height: 48px;
    border:0;
    border-radius: 50%;
    color:white;
    background-color: $footer_up_btn;
    position: absolute;
    top:70px;
    left:100px;
}

.chat{
    width:48px;
    height: 48px;
    border-radius: 50%;
    overflow: hidden;
    background-color: transparent;
    border:0;
    position: absolute;
    right:100px;
    top:70px;
    img{
        width:100%;
        height: 100%;
        object-fit: contain;
    }
}

.get_our_newsletter{
    p{
        color:$footer_form_title;
        font-size: 17px;
        margin-bottom: 16px;
        text-align: center;
        font-weight: bold;
    }
    div{
        input{
            background-color: transparent;
            width:233px;
            height: 40px;
            padding-left: 20px;
            border:0.5px solid $footer_form_border;
            border-radius: 20px;
            outline: none;
        }
        button{
            margin-left:20px;
            background-color: $footer_orange;
            color:white;
            width:88px;
            height: 40px;
            border-radius: 20px;
            border:0;
        }
    }
}

.footer_first_div{
    @include flex_column;
    padding:0 100px;
    padding-top:30px;
    padding-bottom: 20px;
    background-color: $footer_bg;
    & > div:first-child{
        @include between_v_center;
    }
}

.footer_logo{
    a{
        img{
            width: 120px;
            height: 92px;
        }
    }
}        

.footer_links{
    @include center;
    a{
        color:$footer_links_color;
        margin: 0 14px;
        font-size: 14px;
    }
}

.copyright_section{
    margin-top:20px;
    padding-top: 20px;
    background-color: $footer_bg;
    color:$footer_copyright_text;
    text-align: center;    
    font-size: 14px;
    border-top:0.5px solid gray;
    a{
        color:$footer_copyright_text;
    }
}

.social_media_links{
    @include center;   
    a{
        color:white;
        margin: 0 10px;
    }
}

.cookie{
    width:100%;
    padding:20px;
    background-color: $cookie_bg;
    position:fixed;
    bottom:0;
    left:0;
    @include center;
    p{
        text-align: center;
        color:white;
        font-size: 14px;
        a{
            color:$privacy_policy_text;
        }
    }
    button{
        margin-left: 100px;
        width:100px;
        height: 40px;
        border-radius: 20px;
        background-color: $cookie_btn;
        padding:10px;
        font-weight: bold;
        border:0;
        position: absolute;
        right: 30px;
        cursor: pointer;
    }
}

@media screen and (max-width:$responsive_max_width) {
    footer{
        width:100%;
        height: auto;
        position: relative;
    }
    .go_top_btn{
        left:20px;
        top:20px;
    }
    .chat{
        right:20px;
        top:20px;
    }
    .footer_transparent_div{
        padding:$side_padding_r;
        padding-top: 100px;
        padding-bottom:50px;
    }
    .get_our_newsletter{            
        width:100%;
        div{
            display: flex;
            @include h_center;
        }
    }
    .footer_first_div{
        padding:$side_padding_r;
        padding-top: 20px;
        & > div:first-child{
            flex-direction: column;
            div{
                margin:10px 0;
            }
        }
    }
    .copyright_section{
        padding-bottom: 20px;
    }
    .footer_logo{
        overflow: hidden;
        @include center;
        img{
            width:100%;
            height:100%;
            object-fit: contain;
        }
    }
    .footer_links{
        @include flex_column;
        align-items: center;
        margin-left: 10px;
        a{
            font-size: 12px;
            margin:4px 0;
        }
    }
    .cookie{
        width:100%;
        padding:$side_padding_r;
        padding-top: 15px;
        padding-bottom:50px;
        p{
            line-height: 18px;
        }
        button{
            right:0;
            left:50%;
            transform: translateX(-50%);
            bottom:15px;
            margin:0;
            width:60px;
            height:30px;
            cursor: pointer;
            @include center;
        }
    }
}
