@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
}

body{
    width:100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    position: relative;
}

.rounded_btn{
    @include v_center;
    border: 0.5px solid white;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 50px;
}

.fill_color{
    background-color:$blue;
}

