@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
}

body{
    width:100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    position: relative;
}

.rounded_btn{
    @include v_center;
    border: 0.5px solid white;
    padding-top:2.5px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 50px;
}

.fill_color{
    background-color:$blue;
}

.banner{
    margin-top:$navbar_height;
    height: 370px;
    overflow: hidden;
    img{
        width: 100%;
        height: auto;
        object-fit: contain;
    }
}

@media screen and (max-width:550px) {
    .banner{
        margin-top: $navbar_height_r;
        width:100%;
        height:200px;
        img{
            width:100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.title_with_img{
    @include flex_column;
    align-items: center;
    position: relative;
    p{        
        text-align: center;
        color:$title_color;
        font-weight: bold;
        font-size: 35px;
    }
    hr{
        width:120px;
        border:1px solid lightgray;
        position: absolute;
        bottom:11px;
    }
    img{
        margin-top: 9px;
        z-index: 1;
    }
}
@media screen and (max-width:550px) {
    .title_with_img{
        padding-top: 50px;
    }    
}

