@mixin flex_column{
    display: flex;
    flex-direction: column;
}

.center{
}

@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin h_center {
    display: flex;
    justify-content: center;
}

@mixin v_center {
    display: flex;
    align-items: center;
}

@mixin between{
    display: flex;
    justify-content: space-between;
}

@mixin between_v_center{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
