// ---------------SIDE_PADDING_FROM_DISPLAY------------------
$side_padding:0 100px;
$side_padding_r:0 20px;

// ---------------NAVBAR_HEIGHT------------------
// HOME PAGE NAVBAR HEIGHT:AUTO;
// OTHER PAGE NAVBAR HEIGHT:64PX; AND ALSO LOGO HEIGHT 64PX
$navbar_height:64px;

// ---------------FOOTER_HEIGHT------------------
$footer_height:350px;
$last_section_bottom_padding: 50px + $footer_height;

$responsive_max_width:1200px;