// ---------------NAVBAR_HEIGHT------------------
$navbar_height:64px;// HOME PAGE NAVBAR HEIGHT:AUTO;

// ---------------FOOTER_HEIGHT------------------
$footer_height:334px;
$last_section_bottom_padding: $footer_height + 50px;

// ------------------Z_INDEX-------------------
$navbar_z_index:1;
$sidenav_btn_z_index:2;
$sidenav_z_index:2;
$dropdown_z_index:1;
// responsive_sidePadding:20px