// ---------------NAVBAR_HEIGHT------------------
$navbar_height:64px;// HOME PAGE NAVBAR HEIGHT:AUTO;

// ---------------FOOTER_HEIGHT------------------
$footer_height:334px;
$last_section_bottom_padding: $footer_height + 50px;

// ------------------Z_INDEX-------------------
// NAVBAR
$navbar_z_index:1;

// BUTTON & DROPDOWN
$dropdown_z_index:1;
$sidenav_btn_z_index:1;
$admin_dashboard_btn_z_index:1;

// SIDE CONTAINER & BACKLIGHT
$backlight_z_index:2;
$admin_left_z_index:2;
$sidenav_z_index:2;
$model_z_index:2;
