$cancel_btn:#FF6B6B;
$upcoming_service_table_text:#646464;
$upcoming_service_table_thead:#f9f9f9;

.upcoming_service_table{
    width:100%;
    border-collapse: collapse;
    border:1px solid lightgray;
    tr, td{
        border:1px solid lightgray;
    }
    thead{
        padding:15px 0;
        background-color:$upcoming_service_table_thead;
        height:49px;
    }
    th, tr, tr > p{
        color:$upcoming_service_table_text;
        text-align: left;
    }
    th, td{
        padding-left: 17px;    
        font-size: 16px;
    }
    tbody{
        tr{
            height:71px;
        }
    }
}

.cancel_btn{
    width:80px;
    height: 34px;
    border:0;
    border-radius: 17px;
    background-color: $cancel_btn;
    color:white;
    cursor: pointer;
}