// REQUIRE
@import "./classes";
@import "./model";

// COMPONENTS
@import "./components/login";
@import "./components/forgot_password";
@import "./components/success";
@import "./components/fail";
@import "./components/service_details";
@import "./components/reschedule_service";
@import "./components/cancel_service_request";
@import "./components/rating_popup";
@import "./components/edit_address";


// ------------------RESPONSIVE---------------------------
@media screen and (max-width:768px) {
    .popup_main{
        width:300px;
    }
    #service_details_popup,
    #edit_address_popup{
        width:300px;
    }
    .popup_container{
        max-height: calc(100vh - 80px);
        overflow-y: auto;
    }
}

// ------------------DELETE SOON---------------------------
.model_btn{
    margin-top: $navbar_height+50px;
    display: flex;
    padding:0 20px;
    overflow-x: auto;
    button{
        margin:5px;
        height: 30px;
        font-size: 14px;
        white-space: nowrap;
        padding:4px 10px;
        text-transform: uppercase;
    }
}

.temp_popup_container{
    padding:50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:40px;
    overflow-x: auto;
}
// -------------------------------------------------------
