$model_close_btn:#9BA0A3;
$popup_btn:#006072;
$popup_text:gray;
$popup_border:lightgray;

@import "./model";
@import "./login";
@import "./success";
@import "./fail";
@import "./service_details";
@import "./reschedule_service";

.login_popup_title,
.forgot_password_popup_title,
.service_details_popup_title,
.reschedule_service_request_popup_title{
    text-align: center;
    font-size:28px;
    font-weight: bold;
    padding:10px 0;
    color:$popup_text;
}

@media screen and (max-width:700px) {
    .model{
        margin:auto;
        width:calc(100% - 40px);
        background-color: white;
        overflow: auto;
    }
    .login_popup,
    .forgot_password_popup,
    .service_details_popup{
        width:100%;
    }
}


// ------------------DELETE SOON---------------------------
// IT'S TEMPORARY...
.model_btn{
    margin-top: $navbar_height+50px;
    button{
        height: 40px;
        font-size: 16px;
        padding:4px 10px;
    }
}

.temp_popup_container{
    padding:50px;
    border:2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
// -------------------------------------------------------
