.model{
    width:auto;
    height:auto;
    background-color: white;
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index:$model_z_index;
    transition: all 0.5s;
}

.model_close_btn{
    width:50px;
    height:50px;
    position: absolute;
    top:0px;
    right:0px;
    border:0;
    background-color: transparent;
    font-size: 30px;
    font-size: 30px;
    color:$model_close_btn;
}

@media screen and (max-width:700px) {
    .model{
        width:calc(100% - 40px);
        background-color: white;
    }
}