$success:#3fa848;

.success_popup{
    width:350px;
    padding:20px 10px;
    height: auto;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    i{
        margin: 20px 0;
        color:$success;
        font-size: 70px;
    }
    p{
        font-size: 18px;
        text-align: center;
        margin: 10px 0;
        color:$popup_text;
        &:last-of-type{
            font-size: 14px;
        }
    }
    button{
        width:50px;
        padding:10px;
        border:0;
        border-radius: 40px;
        background-color: $popup_btn;
        color:white;
    }
}