$faq_active_tab:#1D7A8C;
$faq_normal_tab:#F6F6F6;
$faq_text:#646464;

.faq{
    padding-top: 32px;
    padding-bottom: $last_section_bottom_padding;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.faq_intro{
    padding-top: 34px;
    display: flex;
    justify-content: center;
    p{
        width: 498px;
        text-align:center;
        color:$faq_text;
        font-size: 18px;
        line-height: 26px;
    }
}

.faq_container{
    padding-top: 35px;
    width:931px;
    min-height: 100px;
    height:auto;
}

.faq_tabs{
    display: flex;
    justify-content: center;
    button{
        width:472px;
        height: 66px;
        font-size: 24px;
        background-color: $faq_normal_tab;
        border:0;
        border-bottom: 3px solid $faq_active_tab;
        cursor: pointer;
    }
}

.faq_active_tab{
    background-color: $faq_active_tab !important;
    color:white;
}

.questions{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.question{
    width:100%;
    padding-top: 37px;
    display: flex;
    align-items: center;
    button{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        border:0;
    }
    p{
        margin:0;
        padding-left:15px;
        font-weight: bold;
        color:$faq_text;
        font-size: 16px;
    }
}

.answer{
    padding-top:10px;
    padding-left:36px;
    line-height: 24px;
    color:$faq_text;
}