@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

body {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-x: hidden;
  position: relative;
}

.rounded_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 0.5px solid white;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 50px;
}

.fill_color {
  background-color: #006072;
}

.navbar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15px;
  position: absolute;
  top: 0;
  z-index: 1;
  background-color: gray;
}

.logo {
  width: 175px;
  height: 130px;
  overflow: hidden;
}

.logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.nav_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav_menu a {
  height: 40px;
  line-height: 40px;
  color: white;
  margin: 0 15px;
}

.nav_menu a:last-of-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav_menu a:last-of-type i {
  margin-left: 8px;
}

.nav_btn {
  display: none;
  background-color: transparent;
  border: 0;
}

.nav_btn i {
  font-size: 20px;
  color: white;
}

@media screen and (max-width: 550px) {
  .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: absolute;
    top: 0;
    padding: 0 20px;
  }
  .logo {
    width: 100px;
    height: 100px;
  }
  .nav_menu {
    height: 100vh;
    padding: 20px;
    border-radius: 8px;
    position: absolute;
    top: 0;
    left: -300px;
    background-color: gray;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nav_menu a {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .nav_btn {
    display: block;
  }
}

footer {
  width: 100%;
  height: 350px;
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer_transparent_div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 100px;
}

.go_top_btn {
  width: 48px;
  height: 48px;
  border: 0;
  border-radius: 50%;
  color: white;
  background-color: #525252;
  position: absolute;
  top: 70px;
  left: 100px;
}

.chat {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  overflow: hidden;
  background-color: transparent;
  border: 0;
  position: absolute;
  right: 100px;
  top: 70px;
}

.chat img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.get_our_newsletter p {
  color: #353548;
  font-size: 17px;
  margin-bottom: 16px;
  text-align: center;
  font-weight: bold;
}

.get_our_newsletter div input {
  width: 233px;
  height: 40px;
  padding-left: 20px;
  border: 0.5px solid gray;
  border-radius: 20px;
  outline: none;
}

.get_our_newsletter div button {
  margin-left: 20px;
  background-color: #FF7B6D;
  color: white;
  width: 88px;
  height: 40px;
  border-radius: 20px;
  border: 0;
}

.footer_first_div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 100px;
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: #111111;
}

.footer_first_div > div:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer_logo a img {
  width: 120px;
  height: 92px;
}

.footer_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer_links a {
  color: white;
  margin: 0 14px;
  font-size: 14px;
  font-weight: 500;
}

.copyright_section {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #111111;
  color: white;
  text-align: center;
  font-size: 12px;
}

.copyright_section a {
  color: white;
}

.social_media_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social_media_links a {
  color: white;
  margin: 0 10px;
}

.privacy_policy {
  width: 100%;
  padding: 20px;
  background-color: #292929;
  position: fixed;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.privacy_policy p {
  text-align: center;
  color: white;
  font-size: 14px;
}

.privacy_policy p a {
  color: #6EABEF;
}

.privacy_policy button {
  margin-left: 100px;
  width: 100px;
  height: 40px;
  border-radius: 20px;
  background-color: #EED507;
  padding: 10px;
  font-weight: bold;
  border: 0;
  position: absolute;
  right: 30px;
}

@media screen and (max-width: 550px) {
  footer {
    width: 100%;
    height: auto;
    position: relative;
  }
  .go_top_btn {
    left: 20px;
    top: 20px;
  }
  .chat {
    right: 20px;
    top: 20px;
  }
  .footer_transparent_div {
    padding: 0 20px;
    padding-top: 100px;
    padding-bottom: 50px;
  }
  .footer_transparent_div .get_our_newsletter {
    width: 100%;
  }
  .footer_transparent_div .get_our_newsletter div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer_first_div {
    padding: 0 20px;
    padding-top: 20px;
    padding-bottom: 40px;
  }
  .footer_logo {
    width: 30%;
    height: 50%;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer_logo img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .footer_links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-left: 10px;
  }
  .footer_links a {
    font-size: 12px;
    margin: 4px 0;
  }
  .privacy_policy button {
    right: 5px;
    bottom: 5px;
    width: 70px;
    height: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.home_s1 {
  width: 100%;
  height: 930px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 100px;
}

.home_s1_bg {
  width: 100%;
  height: 930px;
  position: absolute;
  left: 0;
  z-index: -1;
}

.home_s1_intro_card {
  padding-top: 318px;
}

.home_s1_intro_card p {
  color: white;
  padding: 6px 0;
}

.home_s1_intro_card p:nth-child(1) {
  font-size: 40px;
}

.home_s1_main_btn {
  margin: 0 auto;
  background-color: #006072;
  color: white;
  padding-top: 14px;
  padding-bottom: 14px;
}

.home_s1_card_container {
  padding-top: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home_s1_card_container img {
  margin-top: 15px;
  width: 85px;
  height: 23px;
}

.home_s1_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home_s1_card img {
  margin: 0;
  width: 51px;
  height: 55px;
}

.home_s1_card p {
  padding-top: 30px;
  color: white;
}

.home_s1_down_btn {
  margin: 0 auto;
  margin-top: 42px;
  background-color: transparent;
  border: 0;
}

@media screen and (max-width: 550px) {
  .home_s1 {
    height: auto;
    padding: 0 20px;
  }
  .home_s1_bg {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .home_s1_intro_card {
    width: 100%;
    padding: 0;
    padding-top: 150px;
  }
  .home_s1_intro_card p {
    text-align: center;
  }
  .home_s1_intro_card p:nth-child(2), .home_s1_intro_card p:nth-child(3), .home_s1_intro_card p:nth-child(4) {
    font-size: 12px;
  }
  .home_s1_main_btn {
    margin: 50px auto;
  }
  .home_s1_card_container {
    padding-top: 20px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .home_s1_card_container > img {
    display: none;
  }
  .home_s1_card {
    width: 150px;
    height: 130px;
    margin: 10px 0px;
  }
  .home_s1_card p {
    font-size: 14px;
    text-align: center;
  }
  .home_s1_down_btn {
    margin: 20px;
  }
}

.home_s2 {
  padding: 0 100px;
  padding-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home_s2_title {
  font-size: 40px;
  color: #4F4F4F;
  font-weight: bold;
  text-align: center;
}

.home_s2_card_container {
  padding-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home_s2_card {
  border: 2px solid white;
  width: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home_s2_card img {
  width: 250px;
  height: 250px;
}

.home_s2_card div p {
  color: #565656;
}

.home_s2_card div p:nth-child(1) {
  padding-top: 32px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  border: 2px solid white;
}

.home_s2_card div p:nth-child(2) {
  line-height: 24px;
  padding-top: 20px;
  text-align: center;
}

.home_s2_intro {
  padding-top: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home_s2_intro div p {
  color: #4F4F4F;
}

.home_s2_intro div p:nth-child(1) {
  font-size: 30px;
  padding-bottom: 20px;
}

.home_s2_intro div p:nth-child(2) {
  font-size: 18px;
  line-height: 30px;
}

.home_s2_intro img {
  margin-left: 85px;
  width: 400px;
  height: 250px;
}

@media screen and (max-width: 550px) {
  .home_s2 {
    height: auto;
    padding: 0 20px;
    padding-top: 50px;
  }
  .home_s2_card_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .home_s2_card {
    margin-bottom: 50px;
  }
  .home_s2_card img {
    width: 150px;
    height: 150px;
  }
  .home_s2_intro {
    padding-top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .home_s2_intro img {
    margin: 0;
    -o-object-fit: contain;
       object-fit: contain;
    width: 200px;
    height: 200px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .home_s2_intro div {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .home_s2_intro div p {
    text-align: center;
  }
}

.home_s3 {
  padding: 0 100px;
  padding-top: 100px;
  padding-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home_s3_title {
  font-size: 40px;
  color: #4F4F4F;
  font-weight: bold;
  text-align: center;
}

.home_s3_bg_left {
  position: absolute;
  left: 0;
  width: 150px;
  z-index: -1;
}

.home_s3_bg_right {
  position: absolute;
  right: 0;
  width: 150px;
  z-index: -1;
}

.home_s3_card_container {
  padding-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 22px;
}

.home_s3_card {
  width: 325px;
  height: 350px;
  background-color: white;
  -webkit-box-shadow: 0px 0px 30px #E4EBF0;
          box-shadow: 0px 0px 30px #E4EBF0;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 4px;
}

.home_s3_card > img {
  width: auto;
  height: 164px;
  -o-object-fit: cover;
     object-fit: cover;
}

.home_s3_card div {
  padding: 0 20px;
}

.home_s3_card div p {
  padding-top: 10px;
  color: #565656;
  font-weight: bold;
  font-size: 20px;
}

.home_s3_card div span {
  font-size: 12px;
  opacity: 0.5;
}

.home_s3_card div p:nth-child(3) {
  padding: 10px 0;
  font-size: 16px;
  font-weight: normal;
  line-height: 22px;
}

.home_s3_card a {
  margin-top: 10px;
  width: 100%;
  padding: 0 20px;
  color: #565656;
}

.home_s3_card a i {
  margin-left: 5px;
}

@media screen and (max-width: 550px) {
  .home_s3 {
    height: auto;
    padding: 0 20px;
  }
  .home_s3_bg_left,
  .home_s3_bg_right {
    display: none;
  }
  .home_s3_title {
    padding-top: 50px;
  }
  .home_s3_card_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
  }
  .home_s3_card {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .home_s3_card > img {
    width: 100%;
  }
}

.home_s4 {
  background-color: #F4F5F8;
  padding: 0 100px;
  padding-top: 50px;
  padding-bottom: 400px;
}

.home_s4_title {
  font-size: 40px;
  color: #4F4F4F;
  font-weight: bold;
  text-align: center;
}

.home_s4_card_container {
  padding-top: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home_s4_card {
  width: 350px;
  height: 350px;
  padding: 30px;
  background-color: white;
  border-left: 4px solid #006072;
  border-radius: 4px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0px 0px 30px #E4EBF0;
          box-shadow: 0px 0px 30px #E4EBF0;
}

.home_s4_card > img {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 20px;
  top: 20px;
}

.home_s4_card .home_s4_profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home_s4_card .home_s4_profile img {
  padding-right: 20px;
}

.home_s4_card .home_s4_profile div {
  padding-bottom: 10px;
}

.home_s4_card p {
  padding-top: 25px;
  color: #565656;
  line-height: 22px;
}

.home_s4_card a {
  margin-top: 25px;
  color: #565656;
}

.home_s4_card a i {
  padding-left: 5px;
}

.profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile img {
  padding-right: 20px;
}

.profile div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
}

.profile div p {
  font-weight: bold;
  color: #4F4F4F;
  margin: 0;
}

.profile div span {
  opacity: 0.5;
}

@media screen and (max-width: 550px) {
  .home_s4 {
    height: 100%;
    width: 100%;
    padding: 0 20px;
    padding-top: 50px;
  }
  .home_s4_card_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .home_s4_card {
    margin: 30px 0;
    width: 100%;
    height: auto;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  overflow-x: hidden;
  min-height: 100vh;
}

@media screen and (max-width: 550px) {
  .navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: auto;
  }
  .nav_menu {
    padding: 20px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nav_menu a {
    margin: 7px 10px;
  }
}

footer {
  margin-top: auto;
  width: 100%;
  height: 324px;
}

.footer_transparent_div {
  padding-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer_transparent_div .get_our_newsletter form p {
  color: #353548;
  font-size: 17px;
  margin-bottom: 16px;
  text-align: center;
  font-weight: bold;
}

.footer_transparent_div .get_our_newsletter form div input {
  width: 233px;
  height: 40px;
  padding-left: 20px;
  border: 0.5px solid gray;
  border-radius: 20px;
  outline: none;
}

.footer_transparent_div .get_our_newsletter form div button {
  margin-left: 20px;
  background-color: #FF7B6D;
  color: white;
  width: 88px;
  height: 40px;
  border-radius: 20px;
  border: 0;
}

.footer_first_div {
  padding: 25px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #111111;
}

.footer_logo a img {
  width: 120px;
  height: 92px;
}

.footer_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer_links a {
  color: #F1F1F1;
  margin: 0 10px;
  font-size: 13px;
}

.social_media_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social_media_links a {
  color: #F1F1F1;
  margin: 0 10px;
}

hr {
  padding: 0 100px;
  background-color: green;
  color: green;
}

.copyright_section {
  padding: 20px 100px;
  background-color: #111111;
}

.copyright_section p {
  color: white;
  text-align: center;
  opacity: 0.7;
  font-size: 12px;
}

.copyright_section p a {
  color: white;
}

@media screen and (max-width: 550px) {
  footer {
    padding-top: 30px;
    width: 100%;
    height: auto;
    position: static;
  }
  .footer_transparent_div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer_transparent_div .go_top_btn {
    margin-bottom: 30px;
  }
  .footer_transparent_div .get_our_newsletter form div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer_transparent_div .get_our_newsletter form div input {
    width: 200px;
  }
  .footer_transparent_div .chat {
    position: absolute;
    right: 30px;
  }
  .footer_first_div {
    padding: 30px;
  }
  .footer_links {
    margin-left: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .footer_links a {
    margin: 4px 0;
  }
  .privacy_policy {
    width: 100%;
    height: auto;
  }
  .copyright_section {
    padding: 20px 30px;
  }
}

.faq_banner {
  height: 370px;
  overflow: hidden;
}

.faq_banner img {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.faq_title {
  padding-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.faq_title p {
  text-align: center;
  color: #4F4F4F;
  font-weight: bold;
  font-size: 35px;
}

.faq_title img {
  margin-top: 9px;
}

.faq_intro {
  padding-top: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.faq_intro p {
  width: 498px;
  text-align: center;
  color: #646464;
  font-size: 18px;
  line-height: 26px;
}

.customer_faq {
  padding-top: 35px;
}

.faq_switch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.faq_switch button {
  width: 472px;
  height: 66px;
  font-size: 24px;
  border: 0;
  border-bottom: 3px solid #1D7A8C;
}

.faq_switch button:first-of-type {
  background-color: #1D7A8C;
  color: white;
}

.reviews {
  padding-top: 45px;
  padding-bottom: 54px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.review {
  padding-top: 37px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 931px;
}

.review button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  border: 0;
}

.review button img {
  width: 22px;
  height: 22px;
}

.review button p {
  margin: 0;
  padding-left: 15px;
  font-weight: bold;
}

.review div {
  padding-top: 18px;
  padding-left: 36px;
  width: 894px;
}

.review div p {
  line-height: 24px;
}

@media screen and (max-width: 550px) {
  .faq_banner {
    height: 100%;
    height: 200px;
  }
  .faq_banner img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .faq_switch {
    margin: 0 30px;
  }
  .faq_switch button {
    width: 200px;
    font-size: 16px;
  }
  .reviews {
    margin: 0 30px;
  }
  .review {
    width: 100% !important;
  }
  .review button {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .review div {
    width: 100% !important;
  }
  .faq_intro {
    margin: 0 30px;
  }
}
/*# sourceMappingURL=index.css.map */