@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none !important;
}

body {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-x: hidden;
  position: relative;
  scroll-behavior: smooth;
}

input, textarea, select, button {
  outline: none;
}

.circle {
  border-radius: 50%;
}

.rounded_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 0.5px solid white;
  padding-top: 2.5px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 50px;
}

.banner {
  margin-top: 64px;
  height: 370px;
  overflow: hidden;
}

.banner img {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

@media screen and (max-width: 992px) {
  .banner {
    margin-top: 70px;
    width: 100%;
    height: 200px;
  }
  .banner img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.title_with_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.title_with_img p {
  text-align: center;
  color: #4F4F4F;
  font-weight: bold;
  font-size: 35px;
}

.title_with_img hr {
  width: 120px;
  border: 0.5px solid lightgray;
  position: absolute;
  bottom: 11px;
  opacity: 0.6;
}

.title_with_img img {
  margin-top: 9px;
  padding: 0 7px;
  background-color: white;
  z-index: 1;
}

@media screen and (max-width: 992px) {
  .title_with_img {
    padding-top: 50px;
  }
}

.dropdown {
  position: relative;
}

.dropdown button {
  cursor: pointer;
  background-color: transparent;
  border: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dropdown button i {
  margin-left: 10px;
  color: white;
}

.dropdown_content {
  padding: 7px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 40px;
  right: -2px;
  width: auto;
  background-color: white;
  border-radius: 4px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.dropdown_content a {
  padding: 7px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
  width: 100%;
  text-align: center;
  white-space: nowrap;
}

.dropdown_content a img {
  margin-right: 7px;
}

.nav_tabs button {
  cursor: pointer;
}

.tab_content {
  -webkit-animation: fadeEffect 1s;
          animation: fadeEffect 1s;
  /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@-webkit-keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.d_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.d_flex_column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.ai_start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.ai_center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ai_end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.jc_start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.jc_center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.jc_end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.jc_around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.jc_between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.jc_evenly {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.wrap_reverse {
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}

.d_none {
  display: none !important;
}

.navbar_btn_color {
  background-color: #29626D;
}

.navbar {
  width: 100%;
  height: 64px;
  padding: 0 15px;
  position: fixed;
  top: 0;
  z-index: 10;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  background-color: #525252;
}

.logo {
  width: 73px;
  height: 54px;
  padding-top: 10px;
  padding-bottom: 4px;
  overflow: hidden;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.nav_menu {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.nav_menu > a {
  height: 40px;
  line-height: 40px;
  color: white;
  margin: 0 5px;
  border: 0.5px solid transparent;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 50px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.nav_menu > a:hover {
  border: 0.5px solid white;
}

.nav_focus_btn {
  border: 0.5px solid white !important;
  background-color: #29626D;
}

.nav_btn {
  display: none;
  background-color: transparent;
  border: 0;
}

.nav_btn i {
  font-size: 20px;
  color: white;
}

.nav_menu_close_btn {
  display: none;
}

@media screen and (max-width: 992px) {
  .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: absolute;
    top: 0;
    padding: 0 20px;
    height: 70px;
  }
  .logo {
    width: 100px;
    height: 70px;
  }
  .nav_menu {
    width: 100%;
    height: 100vh;
    padding: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #757575;
    border-radius: 0;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
    position: fixed;
    top: 0px;
    right: -3000px;
    overflow-y: auto;
  }
  .nav_menu > a {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0;
    border: 0;
    background-color: transparent;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .nav_menu_close_btn {
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;
    background-color: transparent;
    border: 0;
  }
  .nav_menu_close_btn i {
    color: white;
    font-size: 20px;
  }
  .nav_btn {
    display: block;
  }
}

footer {
  width: 100%;
  height: 350px;
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer_transparent_div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 100px;
}

.go_top_btn {
  width: 48px;
  height: 48px;
  border: 0;
  border-radius: 50%;
  color: white;
  background-color: #525252;
  position: absolute;
  top: 70px;
  left: 100px;
}

.chat {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  overflow: hidden;
  background-color: transparent;
  border: 0;
  position: absolute;
  right: 100px;
  top: 70px;
}

.chat img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.get_our_newsletter p {
  color: #353548;
  font-size: 17px;
  margin-bottom: 16px;
  text-align: center;
  font-weight: bold;
}

.get_our_newsletter div input {
  background-color: transparent;
  width: 233px;
  height: 40px;
  padding-left: 20px;
  border: 0.5px solid #565656;
  border-radius: 20px;
  outline: none;
}

.get_our_newsletter div button {
  margin-left: 20px;
  background-color: #FF7B6D;
  color: white;
  width: 88px;
  height: 40px;
  border-radius: 20px;
  border: 0;
}

.footer_first_div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 100px;
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: #111111;
}

.footer_first_div > div:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer_logo a img {
  width: 120px;
  height: 92px;
}

.footer_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer_links a {
  color: #F1F1F1;
  margin: 0 14px;
  font-size: 14px;
}

.copyright_section {
  margin-top: 20px;
  padding-top: 20px;
  background-color: #111111;
  color: #9BA0A3;
  text-align: center;
  font-size: 14px;
  border-top: 0.5px solid gray;
}

.copyright_section a {
  color: #9BA0A3;
}

.social_media_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social_media_links a {
  color: white;
  margin: 0 10px;
}

.privacy_policy {
  width: 100%;
  padding: 20px;
  background-color: #292929;
  position: fixed;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.privacy_policy p {
  text-align: center;
  color: white;
  font-size: 14px;
}

.privacy_policy p a {
  color: #6EABEF;
}

.privacy_policy button {
  margin-left: 100px;
  width: 100px;
  height: 40px;
  border-radius: 20px;
  background-color: #EED507;
  padding: 10px;
  font-weight: bold;
  border: 0;
  position: absolute;
  right: 30px;
}

@media screen and (max-width: 992px) {
  footer {
    width: 100%;
    height: auto;
    position: relative;
  }
  .go_top_btn {
    left: 20px;
    top: 20px;
  }
  .chat {
    right: 20px;
    top: 20px;
  }
  .footer_transparent_div {
    padding: 0 20px;
    padding-top: 100px;
    padding-bottom: 50px;
  }
  .get_our_newsletter {
    width: 100%;
  }
  .get_our_newsletter div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer_first_div {
    padding: 0 20px;
    padding-top: 20px;
  }
  .footer_first_div > div:first-child {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer_first_div > div:first-child div {
    margin: 10px 0;
  }
  .copyright_section {
    padding-bottom: 20px;
  }
  .footer_logo {
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer_logo img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .footer_links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 10px;
  }
  .footer_links a {
    font-size: 12px;
    margin: 4px 0;
  }
  .privacy_policy {
    width: 100%;
    padding: 0 20px;
    padding-top: 15px;
    padding-bottom: 50px;
  }
  .privacy_policy p {
    line-height: 18px;
  }
  .privacy_policy button {
    right: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    bottom: 15px;
    margin: 0;
    width: 60px;
    height: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.home_section_title {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  color: #4F4F4F;
}

.home_s1 {
  width: 100%;
  height: 930px;
  position: relative;
  padding: 0 100px;
}

.home_s1_bg {
  width: 100%;
  height: 930px;
  position: absolute;
  left: 0;
  z-index: -1;
}

.home_s1_intro_card {
  padding-top: 318px;
}

.home_s1_intro_card p {
  color: white;
  padding: 6px 0;
}

.home_s1_intro_card p:nth-child(1) {
  font-size: 40px;
}

.home_s1_main_btn {
  margin: 0 auto;
  background-color: #006072;
  color: white;
  padding-top: 14px;
  padding-bottom: 14px;
}

.home_s1_card_container {
  padding-top: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home_s1_card_container img {
  margin-top: 15px;
  width: 85px;
  height: 23px;
}

.home_s1_card img {
  margin: 0;
  width: 51px;
  height: 55px;
}

.home_s1_card p {
  padding-top: 30px;
  color: white;
}

.home_s1_down_btn {
  margin: 0 auto;
  margin-top: 42px;
  background-color: transparent;
  border: 0;
}

@media screen and (max-width: 992px) {
  .home_s1 {
    height: auto;
    padding: 0 20px;
  }
  .home_s1_bg {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .home_s1_intro_card {
    width: 100%;
    padding: 0;
    padding-top: 120px;
  }
  .home_s1_intro_card p {
    text-align: center;
  }
  .home_s1_intro_card p:nth-child(2), .home_s1_intro_card p:nth-child(3), .home_s1_intro_card p:nth-child(4) {
    font-size: 14px;
  }
  .home_s1_main_btn {
    margin: 50px auto;
  }
  .home_s1_card_container {
    padding-top: 20px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .home_s1_card_container > img {
    display: none;
  }
  .home_s1_card {
    width: 150px;
    height: 130px;
    margin: 10px 0px;
  }
  .home_s1_card p {
    font-size: 14px;
    text-align: center;
  }
  .home_s1_down_btn {
    margin: 20px;
  }
}

.home_s2 {
  padding: 0 100px;
  padding-top: 80px;
}

.home_s2_card_container {
  padding-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home_s2_card {
  border: 2px solid white;
  width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home_s2_card div:nth-child(1) {
  width: 250px;
  height: 250px;
  overflow: hidden;
}

.home_s2_card div:nth-child(1) img {
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.home_s2_card div:nth-child(1) img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.home_s2_card div:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 200px;
}

.home_s2_card div:nth-child(2) p:nth-child(1) {
  padding-top: 32px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  border: 2px solid white;
  color: #565656;
}

.home_s2_card div:nth-child(2) p:nth-child(2) {
  line-height: 24px;
  padding-top: 20px;
  text-align: center;
  color: #565656;
}

@media screen and (max-width: 992px) {
  .home_s2 {
    height: auto;
    padding: 0 20px;
    padding-top: 50px;
  }
  .home_s2_card_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .home_s2_card {
    width: 100%;
    margin-bottom: 50px;
  }
  .home_s2_card div:first-child {
    width: 230px;
    height: 230px;
  }
  .home_s2_card div:nth-child(2) {
    height: auto;
  }
}

.home_s3_intro {
  padding-top: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home_s3_intro div p {
  color: #4F4F4F;
}

.home_s3_intro div p:nth-child(1) {
  font-size: 30px;
  padding-bottom: 20px;
}

.home_s3_intro div p:nth-child(2) {
  font-size: 18px;
  line-height: 30px;
}

.home_s3_intro img {
  margin-left: 85px;
  width: 400px;
  height: 250px;
}

.home_s3 {
  padding: 0 100px;
  padding-top: 100px;
  padding-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.home_s3_bg_left {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 150px;
  z-index: -1;
}

.home_s3_bg_right {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 150px;
  z-index: -1;
}

.home_s3_card_container {
  padding-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home_s3_card {
  width: 350px;
  height: 366px;
  background-color: white;
  -webkit-box-shadow: 0px 0px 30px #E4EBF0;
          box-shadow: 0px 0px 30px #E4EBF0;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 4px;
}

.home_s3_card > img {
  width: auto;
  height: 164px;
  -o-object-fit: cover;
     object-fit: cover;
}

.home_s3_card div {
  padding: 0 20px;
}

.home_s3_card div p {
  padding-top: 10px;
  color: #3D4046;
  font-weight: bold;
  font-size: 20px;
}

.home_s3_card div span {
  font-size: 12px;
  opacity: 0.5;
  color: #3D4046;
}

.home_s3_card div p:nth-child(3) {
  padding: 10px 0;
  font-size: 16px;
  font-weight: normal;
  line-height: 22px;
  color: #565656;
}

.home_s3_card a {
  margin-top: 10px;
  width: 100%;
  padding: 0 20px;
  color: #565656;
}

.home_s3_card a img {
  margin-left: 5px;
}

@media screen and (max-width: 992px) {
  .home_s3 {
    height: auto;
    padding: 0 20px;
  }
  .home_s3_intro {
    padding-top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .home_s3_intro img {
    margin: 0;
    -o-object-fit: contain;
       object-fit: contain;
    width: 200px;
    height: 200px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .home_s3_intro div {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .home_s3_intro div p {
    text-align: center;
  }
  .home_s3_bg_left,
  .home_s3_bg_right {
    display: none;
  }
  .home_s3_title {
    padding-top: 50px;
  }
  .home_s3_card_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
  }
  .home_s3_card {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .home_s3_card > img {
    width: 100%;
  }
}

.home_s4 {
  background-color: #F4F5F8;
  padding: 0 100px;
  padding-top: 50px;
  padding-bottom: 400px;
}

.home_s4_card_container {
  padding-top: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home_s4_card {
  width: 350px;
  height: 370px;
  padding: 38px 35px;
  background-color: white;
  border-left: 3px solid #006072;
  border-radius: 4px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0px 0px 30px #E4EBF0;
          box-shadow: 0px 0px 30px #E4EBF0;
}

.home_s4_card > img {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 20px;
  top: 20px;
}

.home_s4_card .home_s4_profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home_s4_card .home_s4_profile img {
  width: 70px;
  height: 70px;
  margin-right: 20px;
}

.home_s4_card .home_s4_profile div p {
  height: auto;
  margin: 0;
  color: #4F4F4F;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
  padding: 0;
}

.home_s4_card .home_s4_profile div span {
  font-size: 12px;
  color: #8E8E8E;
}

.home_s4_card p {
  padding-top: 25px;
  line-height: 20px;
  color: #565656;
}

.home_s4_card a {
  margin-top: 25px;
  color: #565656;
}

.home_s4_card a img {
  padding-left: 5px;
}

@media screen and (max-width: 992px) {
  .home_s4 {
    height: 100%;
    width: 100%;
    padding: 0 20px;
    padding-top: 50px;
  }
  .home_s4_card_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .home_s4_card {
    margin: 30px 0;
    width: 100%;
    height: auto;
  }
}

.user_faq {
  padding-top: 35px;
  padding-bottom: 400px;
}

.faq_intro {
  padding-top: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.faq_intro p {
  width: 498px;
  text-align: center;
  color: #646464;
  font-size: 18px;
  line-height: 26px;
}

.faq_switch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.faq_switch button {
  width: 472px;
  height: 66px;
  font-size: 24px;
  border: 0;
  border-bottom: 3px solid #1D7A8C;
}

.active_tab {
  background-color: #1D7A8C;
  color: white;
}

.questions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.question {
  padding-top: 37px;
  width: 931px;
}

.question button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  border: 0;
}

.question button p {
  margin: 0;
  padding-left: 15px;
  font-weight: bold;
  color: #646464;
  font-size: 16px;
}

.answer {
  padding-top: 10px;
  padding-left: 36px;
  line-height: 24px;
  color: #646464;
  -webkit-transition: all 1s;
  transition: all 1s;
  -webkit-animation: fadeEffect 1s;
          animation: fadeEffect 1s;
  /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 992px) {
  .faq {
    padding: 0 20px;
  }
  .faq_switch button {
    width: 200px;
    font-size: 16px;
  }
  .question {
    width: 100%;
  }
  .question button p {
    text-align: left;
  }
  .question > p {
    padding-left: 0;
    font-size: 14px;
  }
  .user_faq {
    padding-bottom: 50px;
  }
}

.prices_s1 {
  padding: 0 100px;
  padding-top: 30px;
}

.prices_div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.prices_card {
  margin-top: 42px;
  width: 552px;
  height: 304px;
  border: 1px solid #B0C9CE;
}

.prices_card > p {
  height: 59px;
  line-height: 59px;
  text-align: center;
  background-color: #1D7A8C;
  color: white;
  font-size: 28px;
  font-weight: bold;
}

.prices_card > div:nth-child(2) {
  padding-top: 30px;
}

.prices_card > div:nth-child(2) p {
  text-align: center;
  font-size: 48px;
  color: #646464;
}

.prices_card > div:nth-child(2) span {
  font-size: 30px;
  color: #646464;
}

.prices_card > div:nth-child(3) div {
  padding-top: 19px;
  padding-left: 151px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.prices_card > div:nth-child(3) div img {
  width: 24px;
  height: 24px;
}

.prices_card > div:nth-child(3) div p {
  padding-left: 8px;
  color: #646464;
}

.extra_servies {
  padding-top: 92px;
}

.extra_servies_card_container {
  padding-top: 39px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.extra_servies_card div {
  margin: 0 54px;
  width: 108px;
  height: 108px;
  border: 0.5px solid #B0C9CE;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.extra_servies_card p {
  margin-top: 14px;
  text-align: center;
}

.extra_servies_card p:nth-child(2) {
  color: #646464;
}

.extra_servies_card p:nth-child(3) {
  margin-top: 5px;
  font-size: 18px;
  font-weight: bold;
  color: #1D7A8C;
}

@media screen and (max-width: 992px) {
  .prices_s1 {
    padding: 0 20px;
  }
  .prices_card {
    width: 100%;
  }
  .prices_card > div:nth-child(3) div {
    padding-left: 50px;
  }
  .extra_servies {
    padding-top: 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .extra_servies_card_container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .extra_servies_card {
    margin: 14px 0;
    width: 150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.prices_s2 {
  height: 707px;
  padding: 0 100px;
  margin-top: 56px;
  padding-top: 72px;
  background-color: #F6F6F6;
}

.prices_s2_card_container {
  padding-top: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.prices_s2_card {
  margin: 0 15px;
  width: 360px;
}

.prices_s2_card > div:first-child {
  overflow: hidden;
}

.prices_s2_card > div:first-child img {
  width: 100%;
  height: 100%;
}

.prices_s2_card > div:first-child p {
  padding-top: 20px;
  color: #4F4F4F;
  font-size: 20px;
  font-weight: bold;
}

.prices_s2_card > div:last-child div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 14px 0;
}

.prices_s2_card > div:last-child div p {
  padding-left: 8px;
  font-size: 16px;
  color: #4F4F4F;
}

@media screen and (max-width: 992px) {
  .prices_s2 {
    height: auto;
    padding: 0 20px;
  }
  .prices_s2_card_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .prices_s2_card {
    margin: 20px 0;
    width: 100%;
  }
  .prices_s2_card > img {
    width: 100%;
  }
  .prices_s2_card div img {
    height: 100%;
  }
}

.prices_s3 {
  padding: 0 100px;
  padding-bottom: 400px;
  padding-top: 70px;
}

.prices_s3_text_card_container {
  padding-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.prices_s3_text_card_div_1,
.prices_s3_text_card_div_3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.prices_s3_text_card_div_2 {
  width: 375px;
  height: 240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.prices_s3_text_card_div_1 div p {
  text-align: right;
}

.prices_s3_text_card {
  width: 337px;
  padding-top: 14px;
}

.prices_s3_text_card p:nth-child(1) {
  font-size: 20px;
  font-weight: bold;
  white-space: nowrap;
  color: #646464;
}

.prices_s3_text_card p:nth-child(2) {
  padding-top: 9px;
  font-size: 14px;
  line-height: 20px;
  color: #646464;
}

@media screen and (max-width: 992px) {
  .prices_s3 {
    width: 100%;
    padding: 0 20px;
    padding-bottom: 50px;
  }
  .prices_s3_text_card_container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .prices_s3_text_card {
    width: 100%;
  }
  .prices_s3_text_card p {
    white-space: normal !important;
  }
  .prices_s3_text_card_div_2 {
    margin: 30px 0;
    width: 200px;
    height: 150px;
  }
  .prices_s3_text_card_div_2 img {
    width: 100%;
    height: 100%;
  }
  .prices_s3_text_card_div_1 div p {
    text-align: left;
  }
}

.contact {
  padding-top: 30px;
}

.contact_card_container {
  padding-top: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact_card {
  margin: 0 71px;
  width: 238px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact_card div:first-child {
  height: 54px;
}

.contact_card div:first-child img {
  width: 100%;
  height: auto;
}

.contact_card div:last-child {
  padding-top: 20px;
  height: 72px;
}

.contact_card div:last-child p {
  padding-bottom: 8px;
  text-align: center;
  color: #4F4F4F;
}

@media screen and (max-width: 992px) {
  .contact_card_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact_card {
    margin-bottom: 34px;
  }
}

.get_in_touch {
  padding-top: 96px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.get_in_touch_title {
  color: #4F4F4F;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
}

.get_in_touch form {
  padding-top: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.get_in_touch form div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 15px;
}

.get_in_touch form div input, .get_in_touch form div select, .get_in_touch form div textarea {
  border: 1px solid #C8C8C8;
  border-radius: 4px;
  color: #A0A0A0;
  padding-left: 15px;
  background-color: white;
}

.get_in_touch form div input {
  width: 300px;
  height: 46px;
}

.get_in_touch form div select {
  width: 614px;
  height: 46px;
}

.get_in_touch form div textarea {
  padding-top: 15px;
  width: 614px;
  height: 146px;
}

.get_in_touch form button {
  width: 162px;
  height: 46px;
  background-color: #1D7A8C;
  font-size: 20px;
  font-weight: bold;
  color: white;
  border: 0;
  border-radius: 23px;
}

@media screen and (max-width: 992px) {
  .get_in_touch {
    padding-left: 20px;
    padding-right: 20px;
  }
  .get_in_touch form {
    width: 100%;
  }
  .get_in_touch form div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
  }
  .get_in_touch form div input, .get_in_touch form div select, .get_in_touch form div textarea {
    width: 100%;
    margin-bottom: 20px;
  }
}

.map {
  padding-top: 80px;
  padding-bottom: 400px;
}

.map img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 992px) {
  .map {
    padding-bottom: 50px;
  }
  .map img {
    height: 200px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.about_s1,
.about_s2 {
  padding: 0 100px;
}

.about_s2 {
  padding-top: 40px;
  padding-bottom: 400px;
}

.about_s1 div:last-child,
.about_s2 div:last-child {
  padding-top: 35px;
}

.about_s1 div:last-child p,
.about_s2 div:last-child p {
  color: #646464;
  line-height: 24px;
  padding-bottom: 50px;
  text-align: center;
}

@media screen and (max-width: 992px) {
  .about_s1,
  .about_s2 {
    padding: 0 20px;
  }
  .about_s2 {
    padding-bottom: 0px;
  }
}

.become_a_pro_s1 {
  height: 930px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.become_a_pro_s1_bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.registration_form {
  margin-top: 152px;
  background-color: #FFFFFF;
  width: 430px;
  height: 664px;
  padding: 19px 35px;
  -webkit-box-shadow: 0 0 16px #00000026;
          box-shadow: 0 0 16px #00000026;
  border-radius: 4px;
}

.registration_form > p {
  color: #4F4F4F;
  font-size: 24px;
  text-align: center;
  margin: 0;
  padding-bottom: 24px;
  font-weight: bold;
}

.registration_form > form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.registration_form > form input[type="text"], .registration_form > form input[type="password"] {
  color: #A0A0A0;
  width: 100%;
  height: 46px;
  margin-bottom: 15px;
  padding-left: 15px;
  border: 1px solid #C8C8C8;
  border-radius: 4px;
}

.registration_form > form button {
  background-color: #1D7A8C;
  color: white;
  font-weight: bold;
  width: 166px;
  height: 46px;
}

.registration_form > form button img {
  margin-left: 8px;
}

.registration_form > form div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 11px;
}

.registration_form > form div p {
  color: #4F4F4F;
}

.registration_form > form div a {
  color: #1FB6FF;
}

.registration_form > form div input[type="checkbox"] {
  width: 16px;
  height: 16px;
  border: 2px solid yellow;
  margin-right: 7px;
}

.registration_form > form div:first-of-type {
  border: 1px solid #C8C8C8;
  border-radius: 4px;
  margin-bottom: 15px;
  overflow: hidden;
}

.registration_form > form div:first-of-type select {
  height: 46px;
  background-color: #F4F4F4;
  margin-bottom: 15px;
  border: 0;
  border-radius: 0;
  color: #4F4F4F;
  margin-bottom: 0;
}

.registration_form > form div:first-of-type input[type="text"] {
  border-radius: 0;
  border: 0;
  margin-bottom: 0;
}

.registration_form > form div:last-of-type {
  width: 302px;
  height: 76px;
  padding: 0 15px;
  background-color: #f9f9f9;
  border: 1px solid lightgray;
  border-radius: 4px;
}

@media screen and (max-width: 992px) {
  .become_a_pro_s1 {
    height: 100%;
  }
  .registration_form {
    margin: 0 20px;
    margin-top: 152px;
    width: auto;
    height: auto;
    padding: 0 20px;
    padding-top: 19px;
    padding-bottom: 19px;
  }
  .registration_form form div:last-of-type {
    width: 100%;
  }
}

.become_a_pro_s2 {
  padding-bottom: 400px;
  position: relative;
}

.become_a_pro_s2_title {
  padding-top: 61px;
  font-size: 40px;
  font-weight: bold;
  color: #4F4F4F;
  text-align: center;
}

.become_a_pro_s2_bg_left {
  position: absolute;
  left: 0;
  top: 20px;
  width: 150px;
  z-index: -1;
}

.become_a_pro_s2_bg_right {
  position: absolute;
  right: 0;
  top: 20px;
  width: 150px;
  z-index: -1;
}

.become_a_pro_s2_card_container {
  padding-top: 62px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.become_a_pro_s2_card {
  width: 750px;
  height: 286px;
  padding-bottom: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.become_a_pro_s2_card > img {
  width: 260px;
  height: 260px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

@media screen and (max-width: 992px) {
  .become_a_pro_s2 {
    height: 100%;
    padding-bottom: 0;
  }
  .become_a_pro_s2_bg_right,
  .become_a_pro_s2_bg_left {
    display: none;
  }
  .become_a_pro_s2_card_container {
    padding: 0 20px;
    padding-top: 62px;
  }
  .become_a_pro_s2_card {
    width: 100%;
    height: 100%;
    padding-bottom: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .become_a_pro_s2_card > img {
    width: 200px;
    height: 200px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .become_a_pro_s2_card div {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .become_a_pro_s2_card div p {
    text-align: center;
    padding-bottom: 0;
  }
  .become_a_pro_s2_card div a {
    padding-top: 0;
    text-align: center;
  }
}

.become_a_pro_s2_card div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 280px;
}

.become_a_pro_s2_card div p {
  padding-bottom: 10px;
  color: #4F4F4F;
}

.become_a_pro_s2_card div p:first-child {
  font-size: 30px;
  font-weight: bold;
}

.become_a_pro_s2_card div a {
  padding-top: 25px;
  color: #4F4F4F;
}
/*# sourceMappingURL=index.css.map */