*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.accordion-btn{
    width:100%;
    padding:10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.accordion-content{
    max-height: 0;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
    p{
        margin:0;
        background-color: gray;
        padding: 10px;
    }
}