#rating_popup{
    .popup_title{
        padding-bottom: 10px;
        border-bottom: 1px solid lightgray;
    }
    & > div:last-child{
        padding-top: 10px;
        & > div{
            display: flex;
            flex-direction: column;
            padding-bottom: 15px;
            label{
                padding-bottom: 10px;
                font-size: 16px;
            }
            textarea{
                height: 80px;
                margin:0;
            }    
        }
    }
}

.rate_type{
    padding-top: 10px;
    div{
        display: flex;
        align-items: center;
        padding-bottom: 6px;
        p{
            width:140px;
            color:$popup_text;
        }
        i{
            margin:0 2px;
        }
    }
}
